<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
  <%= link_to "Hunger Hub", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <% if controller_name == "home" %>
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#plans">PLANS</a>
          <% else %>
            <%= link_to 'PLANS', root_path, class: "nav-link py-3 px-0 px-lg-3 rounded" %>
          <% end %>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <% if current_user %>
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#"><%= current_user.name %></a>
          <% else %>
            <%= link_to "Sign in", new_session_path, class: "nav-link py-3 px-0 px-lg-3 rounded" %>
          <% end %>
        </li>
        <% if current_user&.admin? %>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to "New Food", new_food_path, class: "nav-link py-3 px-0 px-lg-3 rounded" %>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to_settings %>
          </li>
        <% end %>
        <% if current_user %>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to 'Sign Out', session_path(current_user.id), method: :delete, class: "nav-link py-3 px-0 px-lg-3 rounded" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>